<!DOCTYPE html>
<html lang="en" ng-app="myNinjaApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AngularJs to do app</title>
    <link rel="stylesheet" href="css/main.css">
    <script type="text/javascript" src="lib/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular-animate.min.js"></script>
    <script type="text/javascript" src="lib/angular-route.min.js"></script>
    <script type="text/javascript" src="lib/app.js"></script>
</head>
<body>
    <div ng-controller="NinjaController">

        <ul>
            <li ng-repeat="ninja in ninjas">{{ninja}}</li>
        </ul>

    </div>
</body>
</html>